[Desktop Entry]
Icon=text-html
Name=http://www.omg.org/spec/UML/20110701/Infrastructure.xmi
Type=Link
URL[$e]=http://www.omg.org/spec/UML/20110701/Infrastructure.xmi
